---
const { title, image, link, description, data } = Astro.props
---

<style>
  .link {
    display: block;
    height: 100%;
    width: 100%;
    aspect-ratio: var(--ratio-portrait);
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-4);
    transition: filter 300ms;

    @media (min-width: 1024px) {
      filter: grayscale(1);
      /*
      .content {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition:
          transform 150ms ease-in-out,
          opacity 150ms ease-out;
      } */
    }

    &:hover,
    &:focus {
      filter: grayscale(0);
      /* box-shadow: var(--shadow-4); */
      /* transform: scale(1.1) rotate(0); */

      /* .content {
        opacity: 1;
        transform: translateY(0);
      } */
    }
  }
</style>

<a
  href={link}
  class="link"
  style={{
    backgroundImage: `url(${image.url.src})`,
  }}
  data-title={title}>
  <!-- <span class="content">
    <h2>{title}</h2>
    <p>{description}</p>
  </span> -->
</a>
