---
const { title, image, link, description, data } = Astro.props
---

<style>
  .link {
    aspect-ratio: var(--ratio-landscape);
    background-size: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
    box-shadow: var(--shadow-2);
    padding: var(--size-6);
    border-radius: var(--radius-2);
    overflow: hidden;

    @media (min-width: 1024px) {
      filter: grayscale(1);
      transition: filter 150ms;

      .content {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        transition:
          transform 150ms ease-in-out,
          opacity 150ms ease-out;
      }
    }

    &:hover,
    &:focus {
      filter: grayscale(0);

      .content {
        opacity: 1;
        transform: translateY(0);
      }
    }

    p {
      font-weight: bold;
      color: var(--text-2);
    }
  }
</style>

<a
  href={link}
  class="link"
  style={{
    backgroundImage: `url(${image.url.src})`,
  }}
  transition:name=`hero-image-${link}`>
  <span class="content">
    <h2>{title}</h2>
    <p>{description}</p>
  </span>
</a>
